/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroLogo {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }

  .heroLogo {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

iframe {
  height: 80vh;
  width: 100%;
}

.teamlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}