.card {
  border: 1px solid var(--ifm-color-emphasis-300);
  border-radius: var(--ifm-pagination-nav-border-radius);
  display: block;
  line-height: var(--ifm-heading-line-height);
  padding: var(--ifm-global-spacing);
  transition: border-color var(--ifm-transition-fast) var(--ifm-transition-timing-default);
  margin: var(--ifm-global-spacing) 0;
}

.card:first-child {
  margin-top: 0;
}

.card:last-child {
  margin-bottom: 0;
}

.title {
  font-size: var(--ifm-h2-font-size);
  font-weight: var(--ifm-font-weight-bold);
  margin-bottom: var(--ifm-global-spacing);
  display: flex;
  align-items: center;
  margin-top: 0 !important;
}

.coord {
  font-family: 'MC Font', Consolas, monospace;
}

.p {
  margin: 0.5em 0;
}

.p:first-child {
  margin-top: 0;
}

.p:last-child {
  margin-bottom: 0;
}

.p p {
  margin: 0;
}

.img {
  height: calc(var(--ifm-h2-font-size) * 1.5);
  margin-left: 0.1em;
  position: absolute;
  /* image-rendering: auto; */
}

.display_img {
  width: 100%;
  height: auto;
  margin: 0.25em 0;
  border-radius: 10px;
}
